.App {
  text-align: center;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  margin-bottom: 10 px;
}

.card {
  width: 400px;
  height: 600px;

  margin: auto;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 21px;
  font-weight: bold;
  padding: 6px 28px;
  text-decoration: none;
  margin-top: 10 px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.myButton:active {
  position: relative;
  top: 1px;
}
